.App {
  /* text-align: center; */
  margin: 0px 20px;
  height: 100%;
}

.field-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;
}

.bottomBar {
  background: rgba(201, 201, 201, 0.5);
  border-radius: 20px;
  margin: 20px 0px;
  padding: 5px;
}
