body {
  /* margin: 0; */
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  max-width: 600px;
  margin: auto;
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
  box-sizing: border-box;
  background: linear-gradient(180deg, #000000 0%, #bcbcbc 48.26%, #0a0a0a 100%);
}

html {
  height: -webkit-fill-available;
  height: fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
